#actions-sidebar, #top-left-bar {
	width: 15%;
}

#rowIsUserConnected {
	background: #DEDEDE;
}

.deleted-item {
	background-color: #DEDEDE;
}

.admin-text {
	color: #FF5400;
}
.not-confirmed {
	color: #CC6E00;
}

div.header-image {
	background: radial-gradient(#B4B4B4, #818181, #6E6E6E);
}

body.home {
	background: linear-gradient(#6E6E6E, #606060);
}

.top-bar.expanded, .top-bar, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {
	background: #004027
}

.top-bar.expanded .title-area {
	background: #002D1B;
}

.icon-bar > a:hover {
	background: #002F3E
}

.icon-bar > a:hover label {
	color: #fff
}

.icon-bar > a:hover i {
	color: #fff
}
.icon-bar > a.active {
	background: #081013
}
